.lbtable {
	border-bottom-color: #2f2f2f;
}

.lbTableFont {
	font-size: 14px;
}

.rs-tree {
	overflow-y: inherit;
	max-height: 500px;
}

.rs-tree-node > .rs-tree-node-label {
	width: 100%;
}

.rs-tree-node-disabled > .rs-tree-node-label > .rs-tree-node-label-content,
.rs-tree-node-disabled
	> .rs-tree-node-label
	> .rs-tree-node-label-content:hover {
	width: 100%;
}
